*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html{
    scroll-behavior: smooth;
  }


  ::selection{
    background-color: var(--main-color);
    color: var(--second-color);
  }
  
  body{
    background-color: var(--second-color);
    color: var(--white-color);
    font-family: "Open Sans";
    font-size: var(--font-size);
  }