
.Galeria {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 30px;

}


.img {
    width: 30%;
    height: 250px;
    border-radius: 3px;
    margin-bottom: 30px;
    
}