
.Galeria {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 30px;

}


.img {
    width: 30%;
    height: 250px;
    border-radius: 3px;
    margin-bottom: 30px;
    
}
@media(width >= 376px){
    .img{
        width:80%;
    }
}
@media(width > 476px){
    .img{
        width: 80%;
    }
}
@media(width >= 576px){
    .img{
        width: 45%;
        height: 45%;

    }
}