
.principal{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  
  }
  section:first-child{
    margin: 70px 0 70px 0;
  }
  .titulo{
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
  }
  .copy{
    margin: 20px 0;
    font-weight: 300;
    font-size: 1.2rem;
    text-align: center;
  }
    .cta{
    display: inline-block;
    background-color: var(--main-color);
    color: var(--second-color);
    text-decoration: none;
    font-weight: 700;
    padding: 16px 30px;
    border-radius: 30px;
  }
  .contenedor-textos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .illustracion{
    width: 100%;
  }
  @media (width >= 376px){
    .titulo{
      font-size: 1.6rem;
    }
    .copy{
      width: 70%;
      font-size: 1.3rem;
    }
    .cta{
      font-weight: 700;
      padding: 10px 10px;
    }
    
  }
@media(width < 800px){
    .principal, .nosotros{
      flex-direction: column;
    }
    .principal>img, .nosotros>img{
      order: 1;
    }
    .contenedor-textos{
      order: 2;
    }
    .header{
      width: 100%;
      margin: 0 auto;
    }
  }
  @media (width >= 576px){
    .illustracion {
      width: 80%;
    }
    
  }
 