@import url(variables.css);
@import url(config.css);
@import url(ayuda.css);
@import url(header.css);
@import url(inicio.css);
@import url(nosotros.css);
@import url(servicios.css);
@import url(galeria.css);
@import url(contacto.css);

  

  

  .enlaces{
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    margin:20px;
  }
  
  .principal{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  
  }


  
  .contenedor-textos{
    flex-basis: 45%;
  } 
  
  
  .cta--negro{
    background-color: var(--second-color);
    color: var(--white-color);
  }


